* {
  box-sizing: border-box;
}

h4,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.App {
  text-align: center;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px 0;
}

.form-field {
  margin-right: 20px;
}

.form-entry,
.submit-button {
  height: 30px;
}

.watch-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.timezone {
  font-size: 12px;
  margin-block-start: 1px;
}

.time {
  margin-block-start: 10px;
  font-size: 18px;
  font-weight: bold;
}

.time-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  margin-left: 10px;
  border: 1px black solid;
  border-radius: 20px;
}